

.dashboard-card {
  margin: 3em;
  max-width: 800px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

.view-config {
  position:fixed;
  left:80vw;
  top:78vh;
  width:20vw;
  height:18vh;
  z-index:100000;
}

.view-checkbox {
  margin-left:1vw;
  margin-right:1vw;
}
