<div class="grid-container">
  
  <mat-card class="view-config">
    <mat-card-title>
      View Config
    </mat-card-title>
    <mat-card-content>
      <section *ngFor="let sensor of sensors">
        <mat-checkbox [(ngModel)]="sensor.show" class="view-checkbox">{{sensor.name}}</mat-checkbox>
      </section>
      <!-- <section>
        <mat-checkbox [(ngModel)]="displaySunlight" class="view-checkbox">Display Sunlight </mat-checkbox>
      </section> -->
    </mat-card-content>
  </mat-card>

  <!-- Sensor Grid -->
	<h1 class="mat-h1">Sensors Dashboard</h1>
  <mat-grid-list cols="2" rowHeight="520px">
		<div *ngFor="let sensor of sensors">
			
			<mat-grid-tile [colspan]="1" [rowspan]="1" *ngIf="sensor.show">
				<mat-card class="dashboard-card">
					<mat-card-header>
						<mat-card-title>
							{{sensor.name}}
							<button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu">
								<mat-icon>more_vert</mat-icon>
							</button>
							<mat-menu #menu="matMenu" xPosition="before">
								<button mat-menu-item>Expand</button>
								<button mat-menu-item>Remove</button>
							</mat-menu>
						</mat-card-title>
					</mat-card-header>
					<mat-card-content class="dashboard-card-content">
						<div> 
							<!-- {{getSensorData(sensor.id)}} -->
							<app-line-chart [dataSource]="getSensorData(sensor.id)"></app-line-chart>
						</div>          
					</mat-card-content>
				</mat-card>
			</mat-grid-tile>
		</div>
  </mat-grid-list>
</div>
