
<mat-sidenav-container class="example-container">
  <mat-sidenav opened mode="side">
    <section>
			<button mat-flat-button [routerLink]="[ '/' ]">Sensors</button>
		</section>
		<section>
			<button mat-flat-button [routerLink]="[ '/settings' ]">Settings</button>
		</section>
  </mat-sidenav>

  <router-outlet></router-outlet>
</mat-sidenav-container>

<!-- <mat-drawer-container class="example-container">
	<mat-drawer mode="side" opened>
		<section>

			<button mat-flat-button [routerLink]="[ '/' ]">Sensors</button>
		</section>
		<section>
			<button mat-flat-button [routerLink]="[ '/settings' ]">Settings</button>
		</section>
	</mat-drawer>
	<mat-drawer-content>
		<router-outlet></router-outlet>
	</mat-drawer-content>
</mat-drawer-container> -->
