<h1 style="margin-left:40vw;"> Pin Labels </h1>

<mat-grid-list cols="2">
  <mat-grid-tile>
    <img src="assets/img/ArduinoShield_cropped.png"/>
  </mat-grid-tile>
  <mat-grid-tile>
    <div>
      <h3>Current Labels</h3>
      <mat-form-field >
        <mat-label>A0 Label</mat-label>
        <input [disabled]="this.displayLabelUpdating" [ngModel]="this.LabelA0" matInput (ngModelChange)="A0labelUpdated($event)"  [ngModelOptions]="{standalone: true}">
      </mat-form-field> <br>

      <mat-form-field >
        <mat-label>A1 Label</mat-label>
        <input [disabled]="this.displayLabelUpdating" [ngModel]="this.LabelA1" matInput (ngModelChange)="A1labelUpdated($event)"  [ngModelOptions]="{standalone: true}">
      </mat-form-field> <br>

      <mat-form-field >
        <mat-label>A2 Label</mat-label>
        <input [disabled]="this.displayLabelUpdating" [ngModel]="this.LabelA2" matInput (ngModelChange)="A2labelUpdated($event)"  [ngModelOptions]="{standalone: true}">
      </mat-form-field> <br>

      <mat-form-field >
        <mat-label>A3 Label</mat-label>
        <input [disabled]="this.displayLabelUpdating" [ngModel]="this.LabelA3" matInput (ngModelChange)="A3labelUpdated($event)"  [ngModelOptions]="{standalone: true}">
      </mat-form-field>

      <br>
      <button (click)="this.updateLabels()" mat-raised-button color="primary" [disabled]="!this.areChanges">Save Labels</button>
      <br><br><br>
      <mat-spinner *ngIf="this.displayLabelUpdating" diameter="50"></mat-spinner>
      
    </div>
    
  </mat-grid-tile>
</mat-grid-list>



