<div class="ArduinoShield">
    <div class="DynamicItemsGrid">
        <div (mouseover)="isHovered(3)" class="AnalogPin Analog_Zero"></div>
        <div (mouseover)="isHovered(2)" class="AnalogPin Analog_Two"></div>
        <div (mouseover)="isHovered(1)" class="AnalogPin Analog_Three"></div>
        <div (mouseover)="isHovered(0)" class="AnalogPin Analog_Four"></div>    
    </div>
</div>


<form class="example-form" style="margin-left:200px;">
    <mat-form-field class="example-full-width">
      <mat-label>Current Pin {{this.SelectedPin}}</mat-label>
      <input [(ngModel)]="this.SelectedPin" matInput value="{{this.CurrentLabel}}">
    </mat-form-field>
  </form>
  